.container
  .login-box
    %div
      .login-form.row
        .col-sm-12.text-center.login-header
          = render "shared/logo"
        .col-sm-12
          .login-body
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              .control
                = f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"
              .control
                = f.password_field :password, autocomplete: "off", placeholder: "Password" , class: "form-control"
              .control
                = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control"
              .login-button.text-center
                = f.submit "Sign up", class: "btn btn-primary"
          = render "devise/shared/links"
