.row
  .col-lg-4.col-md-4.col-sm-12.col-xs-12
    .card.red.summary-inline
      .card-body
        %i.icon.fa.fa-instagram.fa-4x
        .content
          .title= data[:total_instagrams]
          .sub-title Total Instagrams
        .clear-both

  .col-lg-4.col-md-4.col-sm-12.col-xs-12
    .card.yellow.summary-inline
      .card-body
        %i.icon.fa.fa-comment.fa-4x
        .content
          .title= data[:total_comments_count].to_i
          .sub-title Total Comments
        .clear-both
  .col-lg-4.col-md-4.col-sm-12.col-xs-12
    .card.green.summary-inline
      .card-body
        %i.icon.fa.fa-heart.fa-4x
        .content
          .title= data[:total_likes_count]
          .sub-title Total Likes
        .clear-both
