.page-title
  %span.title Statistics
  .description
    - if @campaign.present?
      = @campaign.name
    - else
      = @brand.name

= render "general_information", data: @data[:general_information]

.row
  .col-sm-12.col-xs-12
    .card
      .card-header
        .card-title
          .title Instagrams by day
      .card-body.no-padding
        = render "statistics/line_chart", id: "instagrams-by-day", labels: @data[:instagrams_by_day][:labels], datasets: @data[:instagrams_by_day][:datasets], animation: true

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Likes by day
      .card-body.no-padding
        = render "statistics/line_chart", id: "likes-by-day", labels: @data[:likes_by_day][:labels], datasets: @data[:likes_by_day][:datasets], animation: true

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Comments by day
      .card-body.no-padding
        = render "statistics/line_chart", id: "comments-by-day", labels: @data[:comments_by_day][:labels], datasets: @data[:comments_by_day][:datasets], animation: true

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Total Likes & Comments
      .card-body.no-padding
        = render "statistics/pie_chart", id: "total-likes-comments", labels: @data[:total_likes_comments][:labels], values: @data[:total_likes_comments][:values], animation: true

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Likes & Comments by day
      .card-body.no-padding
        = render "statistics/bar_chart", id: "likes-comments-by-day", labels: @data[:likes_comments_by_day][:labels], datasets: @data[:likes_comments_by_day][:datasets], animation: true, datasets_labels: @data[:likes_comments_by_day][:datasets_labels]

.row
  .col-sm-12.col-xs-12
    .card
      .card-header
        .card-title
          .title Top Users by Instagrams
      .card-body.no-padding
        = render "instagram_statistics/charts/users_by_instagrams", data: @data[:top_10_users_by_instagrams][:data]
