.login-footer
  %span.text-right
    - if controller_name != 'sessions'
      = link_to "Log in", new_session_path(resource_name)
    - if controller_name != 'sessions' && devise_mapping.registerable? && controller_name != 'registrations'
      %p.color-white.inline-block= "|"
    - if devise_mapping.registerable? && controller_name != 'registrations'
      = link_to "Sign up", new_registration_path(resource_name), class: "color-white"
    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      %p.color-white.inline-block= "|"
      = link_to "Forgot password?", new_password_path(resource_name), class: "color-white"
