.container-fluid.app-content-a#about
  .container
    .row.text-center
      .col-md-4.col-sm-6
        %span.fa-stack.fa-lg.fa-5x
          %i.fa.fa-circle-thin.fa-stack-2x
          %i.fa.fa-gears.fa-stack-1x
        %h2 Analyse and report
        %p Understand your brand, market and competitors. Measure progress and analyse key contributors.
      .col-md-4.col-sm-6
        %span.fa-stack.fa-lg.fa-5x
          %i.fa.fa-circle-thin.fa-stack-2x
          %i.fa.fa-star.fa-stack-1x
        %h2 Do it simply
        %p Our focus is to provide a powerful, intuitive and pleasant to use solution. Ectyon will help you work more productively in seconds.
      .col-md-4.col-sm-6
        %span.fa-stack.fa-lg.fa-5x
          %i.fa.fa-circle-thin.fa-stack-2x
          %i.fa.fa-users.fa-stack-1x
        %h2 Know your customers
        %p Connect your customer data & find their conversations. Better understand your customers and engage with them directly.
.container-fluid.app-content-b.feature-1
  .container
    .row
      .col-md-7.col-sm-6
      .col-md-5.col-sm-6.text-right.color-white
        %p.lead We help brand owners efficiently discover what's being said online and understand who is saying it, quickly & easily.
        %p.lead We work with users of all sizes & in various industries, whether you have one brand or ten, have us working for you in seconds.
