.container-fluid.app-content-b.contact-us#contact
  .container
    .row.featurette
      .col-md-6
        %h2.color-white.contact-us-header Contact Us
        %p.color-white.contact-us-description Have some questions or maybe you need some guidance in choosing the best plan for you feel free to contact us
      .col-md-6

        = form_tag contact_us_path(), method: :post do |f|
          .row
            .col-sm-6
              = text_field_tag :name, "", placeholder: "Full Name", required: true, class: "form-control"
            .col-sm-6
              = email_field_tag :email, "", placeholder: "Email address", required: true, class: "form-control"
          .row
            .col-sm-12
              = text_area_tag :message, "", placeholder: "Your Message", rows: "5", required: true, class: "form-control"
          %div
            = submit_tag "Send", class: "contact-submit btn btn-success pull-right"
