.jumbotron.app-header#header
  .container
    %h2.text-center
      .color-white Smart, simple social media monitoring for busy people.
    %p.text-center.color-white.app-description Quickly & easily discover key conversations, understand your market and engage customers.
    %p.text-center
      = link_to "Learn more »", "#about", class: "smooth-scroll btn btn-primary btn-lg app-btn"
