%canvas.chart{id: id, data: {labels: "#{labels}", datasets: "#{datasets}", datasets_labels: "#{datasets_labels}"}}

= content_for :scripts do
  window.ectyon.statistics.init_bar3_chart("#{id}", #{animation});
