.panel.panel-default
  .panel-body
    .filters
      Filter by
      = link_to filter_link(@brand, @campaign, "published_at"), method: :post, remote: true, class: filter_class("published_at") do
        %i.fa.fa-clock-o
        Published at
      = link_to filter_link(@brand, @campaign, "retweet_count"), method: :post, remote: true, class: filter_class("retweet_count") do
        %i.fa.fa-retweet
        Retweet
      = link_to filter_link(@brand, @campaign, "favorite_count"), method: :post, remote: true, class: filter_class("favorite_count") do
        %i.fa.fa-heart
        Heart  
      = link_to filter_link(@brand, @campaign, "velocity"), method: :post, remote: true, class: filter_class("velocity") do
        %i.fa.fa-line-chart
        Velocity
      = link_to filter_link(@brand, @campaign, "reach"), method: :post, remote: true, class: filter_class("reach") do
        %i.fa.fa-bullhorn
        Reach
