%ul.message-list
  - @tweets.each do |tweet|
    = render "tweet", tweet: tweet
    = render "reply_modal", id: "reply-modal-#{tweet.tweet_id}"
    = render "comments_modal", id: "comment-modal-#{tweet.tweet_id}"
