%li.tweet{class: tweet.sentiment, id: "tweet-#{tweet.tweet_id}"}
  = link_to tweet.url, target: "_blank" do
    %img.profile-img.pull-left{src: tweet.user_profile_image_url, onerror: "this.src = '#{asset_path('twitter/default.png')}';"}/
  .message-block
    %div
      = link_to tweet.url, target: "_blank" do
        %span.username
          = "@#{tweet.user_screen_name} :: #{tweet.user_name}"
      %span.message-datetime
        = tweet.published_at.strftime("%d %b %Y %H:%S %p")
    .message
      = tweet.text.html_safe
  .options
    %a{"data-target" => "#reply-modal-#{tweet.tweet_id}", "data-toggle" => "modal", href: reply_link(@brand, @campaign, tweet)}
      %i.fa.fa-reply
    = link_to retweet_link(@brand, @campaign, tweet), method: :post, remote: true, class: tweet.retweeted ? "my-retweet show-loader" : "retweet show-loader" do
      %i.fa.fa-retweet
      = tweet.retweet_count
    = link_to favorite_link(@brand, @campaign, tweet), method: :post, remote: true, class: tweet.favorited ? "my-favorite show-loader" : "favorite show-loader" do
      %i.fa.fa-heart
      = tweet.favorite_count
    = link_to follow_link(@brand, @campaign, tweet), method: :post, remote: true, class: "follow show-loader" do
      %i.fa{class: tweet.followed ? "fa-user-times" : "fa-user-plus"}
    %a.comment{"data-target" => "#comment-modal-#{tweet.tweet_id}", "data-toggle" => "modal", href: comment_link(@brand, @campaign, tweet)}
      %i.fa.fa-comments
    .reach.pull-right
      %i.fa.fa-bullhorn
      = tweet.reach.to_i
    .velocity.pull-right
      %i.fa.fa-line-chart
      = tweet.velocity.to_i
