.reply
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.modal-title Comments
  .modal-body
    - if @tweet_messages.present?
      = render "tweets/conversation/tweets"
    - else
      .text-center
        %p There are no comments at the moment
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
