.row
  .col-xs-12
    .filter-panel
      = render "filter"
    .card
      .card-header
        .card-title
          .title
            - if @campaign.present?
              = "#{@campaign.name} :: Tweets"
            - else
              = "#{@brand.name} :: Tweets"
      .card-body.no-padding
        .list-tweets
          = render "tweets"

        = paginate @tweets, params: {controller: 'tweets', action: 'index'}
        .page-loader
          .text-center.load-more
            %i.fa.fa-refresh
            load more..

= content_for :scripts do
  window.ectyon.tweets.init_endless_scroll();
