$(".pagination").replaceWith("<%= escape_javascript paginate(@tweets, params: {controller: 'tweets', action: 'index'}) %>");
$(".message-list").append("<%= escape_javascript render 'tweets' %>");
window.ectyon.tweets.init_endless_scroll();
window.ectyon.shared.init_loader();
