$(".pagination").html("<%= escape_javascript paginate(@tweets, params: {controller: 'tweets', action: 'index'}) %>");
$(".list-tweets").html("<%= escape_javascript render 'tweets' %>");
$(".filter-panel").html("<%= escape_javascript render 'filter' %>");
window.ectyon.tweets.init_endless_scroll();
window.ectyon.shared.hide_loader();
window.ectyon.shared.init_loader();
