.reply
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.modal-title Reply

  = form_tag post_reply_link(@brand, @campaign, @tweet), method: :post do
    .modal-body
      %ul.message-list
        %li.tweet
          = link_to @twitter_user.url.to_s, target: "_blank" do
            %img.profile-img.pull-left{src: @twitter_user.profile_image_url.to_s}/
          .message-block
            .form-group
              = text_area_tag :message, "@#{@tweet.user_screen_name}", class: "form-control", placeholder: "Reply"
      - if @tweet_messages.present?
        = render "tweets/conversation/tweets"
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
      = submit_tag "Reply", class: "btn btn-info"
