.row
  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.red.summary-inline
      .card-body
        %i.icon.fa.fa-twitter.fa-4x
        .content
          .title= data[:total_tweets]
          .sub-title Tweets

  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.yellow.summary-inline
      .card-body
        %i.icon.fa.fa-bullhorn.fa-4x
        .content
          .title= data[:tweets_reach]
          .sub-title Tweets Reach

  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.green.summary-inline
      .card-body
        %i.icon.fa.fa-instagram.fa-4x
        .content
          .title= data[:total_instagrams]
          .sub-title Instagrams

  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.blue.summary-inline
      .card-body
        %i.icon.fa.fa-heart.fa-4x
        .content
          .title= data[:instagram_likes]
          .sub-title Instagram Likes
