.card.card-success
  .card-header
    .card-title
      .title
        %i.fa.fa-instagram
        Instagrams
    .clear-both
  .card-body
    .row
      - instagrams.each do |instagram|
        .instagram.col-md-6.col-sm-12
          .thumbnail.no-margin-bottom
            = link_to instagram.url, target: "_blank" do
              = image_tag instagram.data_link, class: "img-responsive"
            .tags.caption.text-center
              %label
                = instagram.text
