.card.card-success
  .card-header
    .card-title
      .title
        %i.fa.fa-twitter
        Tweets
    .clear-both
  .card-body.no-padding
    %ul.message-list
      - tweets.each do |tweet|
        %li
          = link_to tweet.url, target: "_blank" do
            %img.profile-img.pull-left{src: tweet.user_profile_image_url, onerror: "this.src = '#{asset_path('twitter/default.png')}';"}/
          .message-block
            %div
              = link_to tweet.url, target: "_blank" do
                %span.username
                  = "@#{tweet.user_screen_name} :: #{tweet.user_name}"
              %span.message-datetime
                = tweet.published_at.strftime("%d %b %Y %H:%S %p")
            .message
              = tweet.text.html_safe
