.row
  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.red.summary-inline
      .card-body
        %i.icon.fa.fa-twitter.fa-4x
        .content
          .title= data[:total_tweets]
          .sub-title Total Tweets
        .clear-both

  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.yellow.summary-inline
      .card-body
        %i.icon.fa.fa-bullhorn.fa-4x
        .content
          .title= data[:total_reach].to_i
          .sub-title Total Reach
        .clear-both
  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.green.summary-inline
      .card-body
        %i.icon.fa.fa-heart.fa-4x
        .content
          .title= data[:total_favorit]
          .sub-title Total Favorits
        .clear-both
  .col-lg-3.col-md-6.col-sm-6.col-xs-12
    .card.blue.summary-inline
      .card-body
        %i.icon.fa.fa-retweet.fa-4x
        .content
          .title= data[:total_retweet]
          .sub-title Total Retweets
        .clear-both
