.page-title
  %span.title Statistics
  .description
    - if @campaign.present?
      = @campaign.name
    - else
      = @brand.name

= render "general_information", data: @data[:general_information]

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Tweets by day
      .card-body.no-padding
        = render "statistics/line_chart", id: "tweets-by-day", labels: @data[:tweets_by_day][:labels], datasets: @data[:tweets_by_day][:datasets], animation: true

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Favorite & Retweet by day
      .card-body.no-padding
        = render "statistics/bar_chart", id: "retweet-favorite-by-day", labels: @data[:retweet_favorite_by_day][:labels], datasets: @data[:retweet_favorite_by_day][:datasets], animation: true, datasets_labels: @data[:retweet_favorite_by_day][:datasets_labels]

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Velocity by day
      .card-body.no-padding
        = render "statistics/line_chart", id: "velocity-by-day", labels: @data[:velocity_by_day][:labels], datasets: @data[:velocity_by_day][:datasets], animation: true

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Reach by day
      .card-body.no-padding
        = render "statistics/line_chart", id: "reach-by-day", labels: @data[:reach_by_day][:labels], datasets: @data[:reach_by_day][:datasets], animation: true

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Reach & Velocity by Day
      .card-body.no-padding
        = render "statistics/bar_chart", id: "reach-velocity-by-day", labels: @data[:reach_velocity_by_day][:labels], datasets: @data[:reach_velocity_by_day][:datasets], animation: true, datasets_labels: @data[:reach_velocity_by_day][:datasets_labels]

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Total Retweet & Favorite
      .card-body.no-padding
        = render "statistics/pie_chart", id: "total-tweets-favorite", labels: @data[:total_retweet_favorite][:labels], values: @data[:total_retweet_favorite][:values], animation: true

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Total Sentiment
      .card-body.no-padding
        = render "statistics/pie3_chart", id: "total-sentiment", labels: @data[:total_sentiment][:labels], values: @data[:total_sentiment][:values], animation: true

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Sentiment by day
      .card-body.no-padding
        = render "statistics/bar3_chart", id: "sentiment-by-day", labels: @data[:sentiment_by_day][:labels], datasets: @data[:sentiment_by_day][:datasets], animation: true, datasets_labels: @data[:sentiment_by_day][:datasets_labels]

.row
  .col-sm-12.col-xs-12
    .card
      .card-header
        .card-title
          .title Top Tweets by Reach
      .card-body.no-padding
        = render "twitter_statistics/charts/tweets_by_reach", tweets: @data[:top_10_tweets_by_reach][:tweets]

.row
  .col-sm-12.col-xs-12
    .card
      .card-header
        .card-title
          .title Top Users by Tweets
      .card-body.no-padding
        = render "twitter_statistics/charts/users_by_tweets", data: @data[:top_10_users_by_tweets][:data]
