.row
  .col-xs-12
    .card
      .card-header
        .card-title
          .title Edit User
      .card-body
        = form_for @user do |f|
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: "form-control", placeholder: "First Name"
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
          .form-group
            = f.label :email
            = f.email_field :email, class: "form-control", placeholder: "Email"
          .form-group
            .fileupload.fileupload-new{data: {provides: 'fileupload'}}
              .fileupload-preview.thumbnail.thumb-preview{style: "width: 80px; height: 77px"}
                - if @user.try(:profile_image).present?
                  = image_tag @user.profile_image
                - else
                  = image_tag "fallback/avatar.png"
              %div
                %span.btn.btn-file.btn-default.btn-sm
                  %span.fileupload-new
                    %span.glyphicon.glyphicon-picture
                    = t ".image"
                  %span.fileupload-exists
                    %span.glyphicon.glyphicon-open
                    = t '.change'
                  = f.file_field :profile_image
                = link_to "#", class: "btn fileupload-exists btn-danger btn-sm", data: {dismiss: 'fileupload'} do
                  %span.glyphicon.glyphicon-remove
                  = t '.remove'

          - if @user.try(:profile_image).present?
            .form-group
              .checkbox
                %label
                  = f.check_box :remove_profile_image
                  = t ".remove_image"

          .form-group
            = f.label :password
            = f.password_field :password, class: "form-control", placeholder: "Password"

          = f.submit "Save", class: "btn btn-success"
