.container
  .login-box
    %div
      .login-form.row
        .col-sm-12.text-center.login-header
          = render "shared/logo"
        .col-sm-12
          .login-body
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f|
              .control
                = f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"
              .login-button.text-center
                = f.submit "Send me reset password instructions", class: "btn btn-primary"
          = render "devise/shared/links"
