%ul.message-list
  - tweets.each do |tweet|
    %li.tweet{class: tweet.sentiment, id: "tweet-#{tweet.tweet_id}"}
      = link_to tweet.url, target: "_blank" do
        %img.profile-img.pull-left{src: tweet.user_profile_image_url, onerror: "this.src = '#{asset_path('twitter/default.png')}';"}/
      .message-block
        %div
          = link_to tweet.url, target: "_blank" do
            %span.username
              = "@#{tweet.user_screen_name} :: #{tweet.user_name}"
          %span.message-datetime
            = tweet.published_at.strftime("%d %b %Y %H:%S %p")
        .message
          = tweet.text.html_safe
      .options
        = link_to "javascript:void(0);", class: tweet.retweeted ? "my-retweet" : "retweet" do
          %i.fa.fa-retweet
          = tweet.retweet_count
        = link_to "javascript:void(0);", class: tweet.favorited ? "my-favorite" : "favorite" do
          %i.fa.fa-heart
          = tweet.favorite_count
        .reach.pull-right
          %i.fa.fa-bullhorn
          = tweet.reach.to_i
        .velocity.pull-right
          %i.fa.fa-line-chart
          = tweet.velocity.to_i
