%table.table
  %thead
    %tr
      %th
      %th.text-center Screen Name
      %th.text-center Name
      %th.text-center Reach
      %th.text-center Velocity
  %tbody
    - data.each do |key, value|
      %tr.user-by-tweets
        %td
          %img.profile-img{src: value[:user][:user_profile_image_url], onerror: "this.src = '#{asset_path('twitter/default.png')}';"}/
        %td.text-center
          = "@#{value[:user][:user_screen_name]}"
        %td.text-center
          = value[:user][:user_name]
        %td.text-center
          = value[:data][:reach].to_i
        %td.text-center
          = value[:data][:velocity].to_i
