%li.tweet
  = link_to tweet[:url], target: "_blank" do
    %img.profile-img.pull-left{src: tweet[:user_picture], onerror: "this.src = '#{asset_path('twitter/default.png')}';"}/
  .message-block
    %div
      = link_to tweet[:url], target: "_blank" do
        %span.username
          = "#{tweet[:user_screen_name]} :: #{tweet[:user_name]}"
      %span.message-datetime
        = tweet[:date]
    .message
      = tweet[:text].html_safe
