%table.table
  %thead
    %tr
      %th
      %th.text-center User Name
      %th.text-center Name
      %th.text-center Instagrams
  %tbody
    - data.each do |key, value|
      %tr
        %td
          %img.profile-img{src: value[:user][:user_profile_picture], onerror: "this.src = '#{asset_path('twitter/default.png')}';"}/
        %td.text-center
          = value[:user][:user_name]
        %td.text-center
          = value[:user][:user_full_name]
        %td.text-center
          = value[:data][:instagrams_count].to_i
