%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-affix{"data-offset-top" => "60", "data-spy" => "affix", role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "#home", class: "smooth-scroll navbar-brand" do
        .title
          = render "shared/logo"
    #navbar.navbar-collapse.collapse{"aria-expanded" => "true"}
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to "Home", "#header", class: "smooth-scroll"
        %li
          = link_to "About", "#about", class: "smooth-scroll"
        %li
          = link_to "Contact", "#contact", class: "smooth-scroll"
        %li
          = link_to "Login / Sign up", new_user_session_path()
