= form_for [@brand, @campaign] do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :brand_id, value: @brand.id
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", placeholder: "Name"

  .sub-title Search Terms

  .form-group
    = f.label :or_search_words
    = f.text_field :or_search_words, class: "form-control search-tag"

  .form-group
    = f.label :and_search_words
    = f.text_field :and_search_words, class: "form-control search-tag"

  .form-group
    = f.label :not_search_words
    = f.text_field :not_search_words, class: "form-control search-tag"

  = f.submit "Save", class: "btn btn-success"

= content_for :scripts do
  window.ectyon.campaigns.init_select_tags();
