.row
  .col-xs-12
    .card
      .card-header
        .card-title
          .title Campaigns
        .card-btn
          = link_to "Add Campaign", new_brand_campaign_path(@brand), class: "btn btn-success"
      .card-body
        - @campaigns.each do |campaign|
          .panel.panel-default
            .panel-heading
              %h3.panel-title= campaign.name
            .panel-body
              Panel content
              .settings
                = link_to "Edit", edit_brand_campaign_path(@brand, campaign), class: "btn btn-info btn-xs"
                - if @brand.has_twitter_credentials?
                  = link_to "Tweets", brand_campaign_tweets_path(@brand, campaign), class: "btn btn-primary btn-xs"
                  = link_to "Pull Tweets", pull_tweets_brand_campaign_path(@brand, campaign), method: :post, class: "btn btn-primary btn-xs"
                  = link_to "Twitter Statistics", statistics_brand_campaign_tweets_path(@brand, campaign), class: "btn btn-primary btn-xs"
                - if @brand.has_instagram_credentials?
                  = link_to "Instagrams", brand_campaign_instagrams_path(@brand, campaign), class: "btn btn-primary btn-xs"
                  = link_to "Pull Instagrams", pull_instagrams_brand_campaign_path(@brand, campaign), method: :post, class: "btn btn-primary btn-xs"
                  = link_to "Instagram Statistics", statistics_brand_campaign_instagrams_path(@brand, campaign), class: "btn btn-primary btn-xs"
                = link_to "Delete", brand_campaign_path(@brand, campaign), method: :delete, confirm: "Are you sure?", class: "btn btn-danger btn-xs pull-right"  
