= form_for @brand do |f|
  = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", placeholder: "Name"

  = f.submit "Save", class: "btn btn-success"
