.row
  .col-md-6.col-md-offset-3
    = link_to "Link Twitter Account", "/auth/twitter?brand_id=#{@brand.id}", class: "btn btn-info btn-block"
    = link_to "Link Instagram Account", "/auth/instagram?brand_id=#{@brand.id}&scope=public_content", class: "btn btn-info btn-block"
    //= link_to "Link Facebook Account", "/auth/facebook?brand_id=#{@brand.id}", class: "btn btn-info btn-block"
