= render "brands/index/general_information", data: @data[:general_information]

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Tweets by Week
      .card-body.no-padding
        = render "statistics/line_chart", id: "tweets-by-week", labels: @data[:tweets_by_week][:labels], datasets: @data[:tweets_by_week][:datasets], animation: true

  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Instagrams by Week
      .card-body.no-padding
        = render "statistics/line_chart", id: "instagrams-by-week", labels: @data[:instagrams_by_week][:labels], datasets: @data[:instagrams_by_week][:datasets], animation: true

.row
  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Tweets Reach & Velocity by Week
      .card-body.no-padding
        = render "statistics/bar_chart", id: "tweets-reach-velocity-by-week", labels: @data[:tweets_reach_velocity_by_week][:labels], datasets: @data[:tweets_reach_velocity_by_week][:datasets], animation: true, datasets_labels: @data[:tweets_reach_velocity_by_week][:datasets_labels]


  .col-sm-6.col-xs-12
    .card
      .card-header
        .card-title
          .title Instagrams Likes & Comments by Week
      .card-body.no-padding
        = render "statistics/bar_chart", id: "instagrams-likes-comments-by-week", labels: @data[:instagrams_likes_comments_by_week][:labels], datasets: @data[:instagrams_likes_comments_by_week][:datasets], animation: true, datasets_labels: @data[:instagrams_likes_comments_by_week][:datasets_labels]


.row
  .col-sm-6.col-xs-12
    = render "brands/index/tweets", tweets: @tweets
  .col-sm-6.col-xs-12
    = render "brands/index/instagrams", instagrams: @instagrams
