%nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container-fluid
    .navbar-header
      %button.navbar-expand-toggle{type: "button"}
        %i.fa.fa-bars.icon
      %ol.breadcrumb.navbar-breadcrumb
        %li
          = link_to "New Brand", new_brand_path, class: "btn btn-success"
      %button.navbar-right-expand-toggle.pull-right.visible-xs{type: "button"}
        %i.fa.fa-th.icon
    %ul.nav.navbar-nav.navbar-right
      %button.navbar-right-expand-toggle.pull-right.visible-xs{type: "button"}
        %i.fa.fa-times.icon
      %li.dropdown.profile
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", href: "#", role: "button"}
          = current_user.full_name
          %span.caret
        %ul.dropdown-menu.animated.fadeInDown
          %li.profile-img
            = image_tag(current_user.profile_image, class: "profile-img")
          %li
            .profile-info
              %h4.username= current_user.full_name
              %p= current_user.email
              .btn-group.margin-bottom-2x{:role => "group"}
                = link_to edit_user_path(current_user), class: "btn btn-default" do
                  %i.fa.fa-user
                  Profile
                = link_to destroy_user_session_path(), method: :delete, class: "btn btn-default" do
                  %i.fa.fa-sign-out
                  Logout
