.side-menu.sidebar-inverse
  %nav.navbar.navbar-default{role: "navigation"}
    .side-menu-container
      .navbar-header
        = link_to brands_path, class: "navbar-brand" do
          .icon.fa.fa-paper-plane
          .title ectyon
        %button.navbar-expand-toggle.pull-right.visible-xs{type: "button"}
          %i.fa.fa-times.icon
      %ul.nav.navbar-nav
        %li{class: is_dashboard? ? "active" : ""}
          = link_to brands_path do
            %span.icon.fa.fa-tachometer
            %span.title Dashboard
        - @brands.each do |brand|
          %li.panel.panel-default.dropdown{class: is_brand? ? "active" : ""}
            %a{"data-toggle" => "collapse", href: "#dropdown-table-#{brand.id}"}
              %span.icon.fa.fa-table
              %span.title= brand.name
            .panel-collapse.collapse{id: "dropdown-table-#{brand.id}"}
              .panel-body
                %ul.nav.navbar-nav
                  %li= link_to "Edit Brand", edit_brand_path(brand)
                  - if brand.has_twitter_credentials?
                    %li= link_to "Tweets", brand_tweets_path(brand)
                    %li= link_to "Twitter Statistics", statistics_brand_tweets_path(brand)
                  - if brand.has_instagram_credentials?
                    %li= link_to "Instagrams", brand_instagrams_path(brand)
                    %li= link_to "Instagram Statistics", statistics_brand_instagrams_path(brand)
                  %li= link_to "Campaigns", brand_campaigns_path(brand)
