.modal.fade{"aria-hidden" => "true", role: "dialog", style: "display: none;", tabindex: "-1", id: id}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Comments
      .modal-body.no-padding
        .loading
          .loader-container.text-center.color-white
            %div
              %i.fa.fa-spinner.fa-pulse.fa-3x
            %div Loading
