.panel.panel-default
  .panel-body
    .filters
      Filter by
      = link_to filter_link_instagram(@brand, @campaign, "published_at"), method: :post, remote: true, class: filter_class_instagram("published_at") do
        %i.fa.fa-clock-o
        Published at
      = link_to filter_link_instagram(@brand, @campaign, "comments_count"), method: :post, remote: true, class: filter_class_instagram("comments_count") do
        %i.fa.fa-retweet
        Comments
      = link_to filter_link_instagram(@brand, @campaign, "likes_count"), method: :post, remote: true, class: filter_class_instagram("likes_count") do
        %i.fa.fa-heart
        Likes
