%li.instagram{id: "instagram-#{instagram.instagram_id}"}
  .thumbnail.no-margin-bottom
    .user
      = image_tag instagram.user_profile_picture, class: "profile-img"
      .info
        = link_to instagram.url, target: "_blank" do
          .username
            = "#{instagram.user_full_name} (#{instagram.user_name})"
        .datetime
          = instagram.published_at.strftime("%d %b %Y %H:%S %p")

    .content
      = image_tag instagram.data_link, class: "img-responsive"
    .tags
      = instagram.text
    .options
      %a{"data-target" => "#reply-modal-#{instagram.instagram_id}", "data-toggle" => "modal", href: reply_link_instagram(@brand, @campaign, instagram), class: "reply"}
        %i.fa.fa-reply
      = link_to liked_link_instagram(@brand, @campaign, instagram), method: :post, remote: true, class: instagram.liked ? "my-like show-loader" : "like show-loader" do
        %i.fa.fa-heart
        = instagram.likes_count
      %a.comment{"data-target" => "#comment-modal-#{instagram.instagram_id}", "data-toggle" => "modal", href: comment_link_instagram(@brand, @campaign, instagram)}
        %i.fa.fa-comments
        = instagram.comments_count
      = link_to follow_link_instagram(@brand, @campaign, instagram), method: :post, remote: true, class: "follow show-loader" do
        %i.fa{class: instagram.followed ? "fa-user-times" : "fa-user-plus"}
