%ul.message-list
  - @instagrams.each do |instagram|
    = render "instagram", instagram: instagram
    = render "reply_modal", id: "reply-modal-#{instagram.instagram_id}"
    = render "comments_modal", id: "comment-modal-#{instagram.instagram_id}"
