.row
  .col-xs-12
    .filter-panel
      = render "filter"
    .card
      .card-header
        .card-title
          .title
            - if @campaign.present?
              = "#{@campaign.name} :: Instagrams"
            - else
              = "#{@brand.name} :: Instagrams"
      .card-body.no-padding
        .list-instagrams
          = render "instagrams"

        = paginate @instagrams, params: {controller: 'instagrams', action: 'index'}
        .page-loader
          .text-center.load-more
            %i.fa.fa-refresh
            load more..

= content_for :scripts do
  window.ectyon.instagrams.init_endless_scroll();
