$(".pagination").replaceWith("<%= escape_javascript paginate(@instagrams, params: {controller: 'instagrams', action: 'index'}) %>");
$(".message-list").append("<%= escape_javascript render 'instagrams' %>");
window.ectyon.instagrams.init_endless_scroll();
window.ectyon.shared.init_loader();
