$(".pagination").html("<%= escape_javascript paginate(@instagrams, params: {controller: 'instagrams', action: 'index'}) %>");
$(".list-instagrams").html("<%= escape_javascript render 'instagrams' %>");
$(".filter-panel").html("<%= escape_javascript render 'filter' %>");
window.ectyon.instagrams.init_endless_scroll();
window.ectyon.shared.hide_loader();
window.ectyon.shared.init_loader();
