.reply
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.modal-title Comment

  = form_tag post_reply_link(@brand, @campaign, @instagram), method: :post do
    .modal-body
      %ul.message-list
        %li.tweet
          = link_to "https://www.instagram.com/#{@instagram_user.username}", target: "_blank" do
            %img.profile-img.pull-left{src: @instagram_user.profile_picture.to_s}/
          .message-block
            .form-group
              = text_area_tag :message, "", class: "form-control", placeholder: "Comment"
      - if @instagram_messages.present?
        = render "instagrams/conversation/instagrams"
    .modal-footer
      %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
      = submit_tag "Post", class: "btn btn-info"
