$("#instagram-<%= @instagram.instagram_id %>").replaceWith("<%= escape_javascript render 'instagram', instagram: @instagram %>");
window.ectyon.shared.hide_loader();
window.ectyon.shared.init_loader();
