body.instagrams
  .loader, .pagination
    display: none
  .instagram
    max-width: 640px
    margin: auto
    .user
      padding-bottom: 5px
      padding-top: 5px
      padding-left: 3px
      background-color: #F0F0F0
      .info
        vertical-align: top
        display: inline-block
        .username
          font-size: 12px
          font-weight: bold
        .datetime
          font-size: 10px
          color: #AAA
    .tags
      font-size: 12px
      font-weight: bold
      margin-top: 10px
      text-align: center
    .options
      text-align: center
      .comment, .follow
        margin-left: 15px
      .like, .my-like
        margin-left: 15px
        &:hover
          color: #FA2A00
      .my-like
        color: #FA2A00
