body.tweets
  .tweet
    .options
      margin-left: 70px
      .retweet, .my-retweet
        margin-left: 40%
        &:hover
          color: #1ABC9C
      .my-retweet
        color: #1ABC9C
      .favorite, .my-favorite
        margin-left: 15px
        &:hover
          color: #FA2A00
      .my-favorite
        color: #FA2A00
      .follow, .comment, .reach, .velocity
        margin-left: 15px
      a
        text-decoration: none
      .reach
        display: inline
  .tweet.negative
    background: #fff0ef
  .tweet.positive
    background: #c8f1c8
  .loader, .pagination
    display: none
  .tweet-conversations
    height: 300px
    overflow: auto
  .reply
    textarea
      min-height: 60px 
