body.twitter_statistics
  .chart
    width: 100%
  .tweet
    .options
      margin-left: 70px
      .retweet, .my-retweet
        margin-left: 40%
        &:hover
          color: #1ABC9C
      .my-retweet
        color: #1ABC9C
      .favorite, .my-favorite
        margin-left: 15px
        &:hover
          color: #FA2A00
      .my-favorite
        color: #FA2A00
      .follow, .comment, .reach, .velocity
        margin-left: 15px
      a
        text-decoration: none
      .reach
        display: inline
  .user-by-tweets
    .profile-img
      max-width: 48px        
