!!!
%html
  %head
    %title Ectyon
    %link{href: "http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  - custom_class = params[:controller] == "pages" ? "landing-page" : "login-page"
  %body{class: "#{params[:controller].gsub("/", "-")} flat-blue #{custom_class}"}
    - if params[:controller] == "pages"
      = render "shared/application/header"
    = yield
    - if params[:controller] == "pages"
      = render "shared/application/footer"

    %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
      var string = "#{(j (yield :scripts))}";
      eval(string);
