!!!
%html
  %head
    %title Ectyon
    %link{href: "http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{class: "#{params[:controller].gsub("/", "-")} flat-blue"}
    .app-container
      = render "shared/dashboard/loader"
      = render "shared/dashboard/flash"
      .row.content-container
        = render "shared/dashboard/header"
        = render "shared/dashboard/left_navbar"
        .container-fluid
          .side-body.padding-top
            = yield
      = render "shared/dashboard/footer"

    %script{type: "text/javascript", 'data-turbolinks-eval'=>false}
      var string = "#{(j (yield :scripts))}";
      eval(string);
      window.ectyon.shared.init();
